// 通用類別
.mx-auto{
  margin: auto;
}
.ml-150{
  margin-left: 150px;
}


$primarycolor:#D7C4BB;
$secondarycolor:#2C3E2C;



// APP.vue
.v-navigation-drawer{
  background-color:$primarycolor;
  color:$secondarycolor;
  cursor: pointer;

  .v-list-item{
    display: flex;

    .v-list-item-title{
      font-weight: 900;
    }

    .col-text{
      padding-left: 0;
      width: 104px;
      margin-left: -15px
    }
  }  
}
.v-main{
  background:$secondarycolor;
}

// HomeView.vue
#home{
  margin-top: 200px;
  margin-left: 200px;
  color:$primarycolor ;
    .hometext{
      font-size: 40px;
    }
    .hometime{
      font-size: 100px;
      margin-left: -5px;
    }
    .homeicon{
      width: 50px;
      height: 50px;
      text-align: center;
      line-height: 50px;
      border: 3px solid $primarycolor;
      background: transparent;
      font-size: 25px;
      color:$primarycolor ;
      margin-right: 1rem;
      cursor: pointer;
    }

    .tomato-active{
      position: absolute;
      bottom:0%;
      right: 0;
    }    
}

// ListView.vue
#list{
  color: $primarycolor;
  .v-card{
    width: 92%;
    height: 110px;
    background:$primarycolor ;
    color:$secondarycolor ;
    margin-bottom: 20px;
    cursor: pointer;
    .v-card-text{
        color:lighten($secondarycolor,10%)
      }
    .editicon{
      padding: 0;
    }
    .delicon{
      padding: 0;
    }
    &:hover{
      background:darken($primarycolor ,15%);
      color:lighten($secondarycolor,10%)
    }
  }
  .plusicon{
    width:30px;
    height:30px;
    text-align: center;
    line-height:30px;
    // border: 3px solid $primarycolor;
    background: transparent;
    font-size: 14px;
    color:$primarycolor ;
    &:hover{
      background: $primarycolor;
      color:$secondarycolor ;
      transform: scale(1.2);
    }
  }   
}

// SettingsView.vue
#settings{
  width: 80%;
  margin: auto;
  color:$primarycolor ;
  .settingsTable{
    background:$primarycolor ;
    color:$secondarycolor ;
    cursor: pointer;
    
    tr{
      border: 1px solid $secondarycolor !important;
      &:hover{
        background:darken($primarycolor,10%) ;
        color:lighten($secondarycolor,10%) ;
      }
    }

    .firstLine{
      font-size: 18px;
    }
    .alarmLine{
      font-size: 16px;
    }
    
  }
}
