.v-main{
  background:#2C3E2C;

  .tomato-active{
    position: absolute;
    bottom:0%;
    right: 0;
  }    
}

.v-navigation-drawer{
  background-color:#D7C4BB;
  color:#2C3E2C;

  .v-list-item{
    display: flex;

    .v-list-item-title{
      font-weight: 900;
    }
  }
    
}
  
    