// APP.vue
.v-navigation-drawer{
  background-color:#D7C4BB;
  color:#2C3E2C;

  .v-list-item{
    display: flex;

    .v-list-item-title{
      font-weight: 900;
    }
  }  
}
.v-main{
  background:#2C3E2C;

  .tomato-active{
    position: absolute;
    bottom:0%;
    right: 0;
  }    
}

// HomeView.vue
#home{
  margin-top: 200px;
  margin-left: 200px;
  color:#D7C4BB ;
    .hometext{
      font-size: 40px;
    }
    .hometime{
      font-size: 100px;
    }
    .homeicon{
      width: 50px;
      height: 50px;
      text-align: center;
      line-height: 50px;
      background-color:#D7C4BB ;
      font-size: 25px;
      color:#2C3E2C ;
    }
}
